# SQL - structured query language

In [1]:
import mysql.connector
import pandas as pd

In [2]:
conn = mysql.connector.connect(host='localhost',user='root',password='randomforest73',database='world')

In [5]:
df = pd.read_sql_query("SELECT * FROM city WHERE countrycode LIKE 'USA'",conn)

In [6]:
df

       ID          Name CountryCode        District  Population
0    3793      New York         USA        New York     8008278
1    3794   Los Angeles         USA      California     3694820
2    3795       Chicago         USA        Illinois     2896016
3    3796       Houston         USA           Texas     1953631
4    3797  Philadelphia         USA    Pennsylvania     1517550
..    ...           ...         ...             ...         ...
269  4062       Kenosha         USA       Wisconsin       89447
270  4063         Elgin         USA        Illinois       89408
271  4064        Odessa         USA           Texas       89293
272  4065        Carson         USA      California       89089
273  4066    Charleston         USA  South Carolina       89063

[274 rows x 5 columns]